/* .body-color {
    background-color: red;
} */

/*-------------------
    banner section
 -------------------*/
.banner-section {
    background-color: black;
    height: 600px;
    width: auto;
    margin: 3% 5% 5% 5%;
    border-radius: 30px;
    display: flex;
}

.half-width {
    width: 50%;
}

.banner-info {
    color: white;
    margin: 10% 2% 10% 10%;
}

.banner-info h1 {

    font-family: 'Poppins';
    font-size: 50px;

}

.banner-info h6 {
    font-size: 18px;
}

.banner-info button {

    background-color: red;
    height: 40px;
    width: 150px;
}

.banner-info button a {
    text-decoration: none;
    color: white;
}

.banner-image {
    margin: 3% 3% 0% 0%;
}

.banner-image img {
    width: 100%;
    height: 100%;
}

/*--------------------------
    blogs-matches section
 --------------------------*/
.blogs-and-matches {
    /* background-color: green; */
    display: flex;
    height: auto;
    width: auto;
    margin: 3% 5% 5% 5%;
    ;
}

.blogs {
    height: 100%;
    width: 25%;
    background-color: black;
    margin-right: 2%;
    border-radius: 20px;
    padding: 2%;

}

.match-group {
    background-color: white;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    border-radius: 10px;
    margin: 5% 1% 15% 1%;
}

.match-group a {
    text-decoration: none;
}


.blog {
    background-color: red;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    border-radius: 10px;
}

.blog a {
    text-decoration: none;

}

.matches {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    border-radius: 20px;

    width: 75%;
    /* background-color: blue; */
    /* margin: 10% 10% 10% 10%; */
}

.match {
    width: 100%;
    height: auto;
}

.other-in-match {}

.match-icon {}

footer {
    height: 200px;
    color: white;
    background-color: black;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
}

hr {
    margin: 0px 100px 0px 100px;
    color: white;
    border: 1px solid;
}

.footer-item {
    text-align: center;
    text-decoration: none;
    display: flex;
}

.footer-item a {
    text-align: center;
    text-decoration: none;
}